{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="page ">
    <div class="page-section with-bg grid-row">
        <div class="container">
            <div class="row centered">
                <div class="col-8-12 page-box">
                    <div class="row centered">
                        <div class="col-8-12 page-box-content register">
                            <h2 class="page-title"><span>{% trans "User Information" %}</span></h2>
                            <div class="sub-title" style="margin-top: 20px;"><span>{% trans "Email: " %} {{ request.user.email }}</span></div>
                            <div class="sub-title"><span>{% trans "Created At: " %} {{ request.user.created_at }}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}