{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Log in" %} | {{ block.super }}{% endblock %}
{% block content %}
<div class="page ">
    <div class="page-section with-bg grid-row">
        <div class="container">
            <div class="row centered">
                <div class="col-8-12 page-box">
                    <div class="row centered">
                        <div class="col-8-12 page-box-content">
                            <div class="container-content">
                                <h2 class="page-title with-mb"><span>{% trans 'My Rebiton.com' %}</span></h2>

                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}

                                <form class="form" method="POST" action="{% url 'login' %}">
                                    {% csrf_token %}
                                    <div class="login-form">
                                        <div class="form-field {% if form.email.errors %}error{% endif%}">
                                            <label class="field-label"><span>{% trans "Email address" %}</span></label>
                                            <div class="form-input">
                                                <input name="email" placeholder="{% trans 'Email address' %}"
                                                       value="{{ form.email.value|default:'' }}" type="email" autocomplete="off">
                                            </div>
                                            {% if form.email.errors %}
                                            <div class="error-msg">
                                                {% for error in form.email.errors %}
                                                <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                            {% endif%}
                                        </div>
                                        <div class="form-field {% if form.password.errors %}error{% endif%}">
                                            <label class="field-label"><span>{% trans 'Password' %}</span></label>
                                            <div class="form-input">
                                                <input name="password" placeholder="{% trans 'Password' %}" value="" type="password" autocomplete="off">
                                            </div>
                                            {% if form.password.errors %}
                                            <div class="error-msg">
                                                {% for error in form.password.errors %}
                                                <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                            {% endif%}
                                        </div>

                                    </div>

                                    <div class="row form-actions">
                                        <button class="btn btn-primary" type="submit"><span>{% trans "Log in" %}</span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
