{% extends "base.html" %}
{% load i18n %}
{% block title  %}{% trans "Register" %} | {{ block.super }}{% endblock title %}
{% block content %}
<div class="page ">
    <div class="page-section with-bg grid-row">
        <div class="container">
            <div class="row centered">
                <div class="col-8-12 page-box">
                    <div class="row centered">
                        <div class="col-8-12 page-box-content register">
                            <h2 class="page-title"><span>{% trans "Register" %}</span></h2>
                            <div class="sub-title"><span>{% trans "and create your account" %}</span></div>

                            <form class="form" method="POST" action="{% url 'register' %}">
                                {% csrf_token %}

                                <div class="login-form">
                                    <div class="form-field ">
                                        <label class="field-label"><span>{% trans "Code" %}</span></label>
                                        <div class="form-input">
                                            <input name="code" placeholder="{% trans 'Code' %}"
                                                   value="{{ form.code.value|default:'' }}" type="text" autocomplete="off">

                                        </div>
                                            {% if form.code.errors %}
                                            <div class="error-msg">
                                                {% for error in form.code.errors %}
                                                <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                            {% endif%}
                                    </div>


                                    <div class="form-field {% if form.email.errors %}error{% endif%}">
                                        <label class="field-label"><span>{% trans 'Email address' %}</span></label>
                                        <div class="form-input">
                                            <input name="email" placeholder="{% trans 'Email address' %}"
                                                   value="{{ form.email.value|default:'' }}" type="email" autocomplete="off">
                                        </div>
                                            {% if form.email.errors %}
                                            <div class="error-msg">
                                                {% for error in form.email.errors %}
                                                <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                            {% endif%}
                                    </div>

                                    <div class="form-field {% if form.password.errors %}error{% endif%}">
                                        <label class="field-label"><span>{% trans 'Password' %}</span></label>
                                        <div class="form-input">
                                            <input name="password" placeholder="{% trans 'Password' %}" value="" type="password" autocomplete="off">

                                        </div>
                                            {% if form.password.errors %}
                                            <div class="error-msg">
                                                {% for error in form.password.errors %}
                                                <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                            {% endif%}
                                    </div>

                                    <div class="form-field ">
                                        <label class="field-label"><span>{% trans "Repeat password" %}</span></label>
                                        <div class="form-input">
                                            <input name="password_confirmation" placeholder="{% trans 'Repeat password' %}" value="" type="password" autocomplete="off">

                                        </div>
                                    </div>


                                    <div class="form-field">
                                        <div class="checkbox-block">
                                            <input type="checkbox" class="checkbox-item" id="agreement"
                                                   name="agreement" value="1" {% if form.agreement.value %}checked{% endif%}>
                                            <label for="agreement">
                                                <span class="html-content">
                                                    {% trans "I agree with" %}
                                                    <a href="https://rebiton.com/en/rules"> {% trans "Terms & Conditions" %} </a>
                                                    {% trans "and" %}
                                                    <a href="https://rebiton.com/en/privacy">{% trans "Privacy policy" %}</a></span>
                                            </label>
                                        </div>
                                            {% if form.agreement.errors %}
                                            <div class="error-msg">
                                                {% for error in form.agreement.errors %}
                                                <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                            {% endif%}
                                    </div>

                                </div>

                                <div class="row form-actions">
                                    <button class="btn btn-primary" type="submit"><span>{% trans "Register" %}</span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
