<!DOCTYPE html>
{% load i18n %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% trans "Rebiton" %}{% endblock title %}</title>

    <meta name="keywords" content="Bitcoin, buy bitcoin, exchange bitcoin, cryptocurrency, vouchers, buy bitcoin  with card">
    <meta name="description" content="Rebiton: easy and fast way to buy Bitcoin. No ID required.">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="all">
    <meta http-equiv="expires" content="0">

    <link rel="shortcut icon" href="https://rebiton.com/favicon.ico">
    <link href="https://rebiton.com/css/main.css?1566471265" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://rebiton.com/js/main.js?1566471263"></script>

</head>
<body>
<div id="app">
    <div class="grid cols">
        {% block container %}
        <header class="header grid-row">
            {% block header %}
            <div class="container">
                <div class="row">
                    <div class="header__logo">
                        <a class="active" aria-current="page" href="https://rebiton.com/en">
                            <img src="https://rebiton.com/images/logo-dark.svg" alt="Rebiton Logo">
                        </a>
                    </div>


                    <div class="header__exchange exchange-rate">
                            <svg width="24" height="24" class="icon icon-s icon-graph exchange-rate__icon" viewBox="0 0 23 22"><g><g><g><path fill="none" stroke="#000000" stroke-linecap="round" stroke-miterlimit="50" stroke-width="1.5" d="M6.197 14.745v0l4.03-6.88v0l5.798 2.321v0l5.798-6.267v0"></path></g><g><path fill="none" stroke="#000000" stroke-linecap="round" stroke-miterlimit="50" stroke-width="1.5" d="M3.22 1v19.706"></path></g><g><path fill="none" stroke="#000000" stroke-linecap="round" stroke-miterlimit="50" stroke-width="1.5" d="M1 18.525h21.193"></path></g></g></g></svg>
                    </div>

                    <div class="full-width">
                        <div>
                            <ul class="navigation">

                                {% if request.user.is_authenticated %}
                                <li><a href="{% url 'logout' %}" ><span>{% trans 'Log out' %}</span></a></li>
                                {% else %}
                                <li><a href="{% url 'login' %}" ><span>{% trans 'Sign in' %}</span></a></li>
                                <li class="bordered"><a href="{% url 'register' %}"  class="active"><span>{% trans "Register" %}</span></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <a class="menu-button">
                        <?xml version="1.0" ?>
<svg class="icon icon-s icon-menu" fill="none" height="24" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
	 viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
	<line x1="3" x2="21" y1="12" y2="12"/>
	<line x1="3" x2="21" y1="6" y2="6"/>
	<line x1="3" x2="21" y1="18" y2="18"/>
</svg>                        <?xml version="1.0" ?>
<svg class="icon icon-s icon-menu-close" fill="none" height="24" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
	 viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
	<line x1="18" x2="6" y1="6" y2="18"/>
	<line x1="6" x2="18" y1="6" y2="18"/>
</svg>                    </a>
                </div>
            </div>
            {% endblock header %}
        </header>

        <div class="grid-row">
            {% block content %}
            {% endblock content %}
        </div>

        <footer class="grid-row footer ">
            {% block footer %}
            <div class="container">
                <div class="row centered first-row">
                    <div class="col-12-12">
                        <ul class="navigation">
                            <li><a href="https://rebiton.com/en/create-wallet"><span>{% trans "About wallets" %}</span></a></li>
                            <li><a href="https://rebiton.com/en/rules"><span>{% trans "Terms &amp; Conditions" %}</span></a></li>
                            <li><a href="https://rebiton.com/en/help"><span>{% trans "F.A.Q." %}</span></a></li>
                            <li><a href="https://rebiton.com/en/about"><span>{% trans "About" %}</span></a></li>
                            <li><a href="https://rebiton.com/en/privacy"><span>{% trans "Privacy policy" %}</span></a>
                            </li>
                        </ul>
                    </div>
                </div>



                <div class="row centered third-row">
                    <div class="col-7-12 text-align-center"><span>© {% trans "2019 Rebiton.com. All rights reserved" %}</span></div>
                </div>
            </div>
            {% endblock footer %}
        </footer>
        {% endblock container %}
    </div>
</div>

</body>
</html>
